@model WebApplication1.Models.schedule

@{
	ViewBag.Title = "Detalles de Servicio";
}
	<div class="containerSchedules">
		<h3>Detalles de Cita</h3>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.ClientName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ClientName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Date)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Date)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Hour)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Hour)
			</dd>

		</dl>
	</div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
		@Html.ActionLink("Volver a Lista de Citas", "Index")
    </p>

